.servicesItem{
    padding-left: 1px !important;
    padding-right:1px !important;
    color: white;
}

.servicesItem:nth-of-type(1)>div.block-6{
    background: url(../images/fea-bg.jpg);
    background-position: 50% 50%;
    background-size: 110%;
}
.servicesItem:nth-of-type(2)>div.block-6{
    background: url(../images/fea-img2.jpg);
    background-position: 50% 50%;
    background-size: 110%;
}
.servicesItem:nth-of-type(3)>div.block-6{
    background: url(../images/fea-img3.jpg);
    background-position: 50% 50%;
    background-size: 110%;
}
.servicesItem:nth-of-type(4)>div.block-6{
    background: url(../images/fea-img4.jpg);
    background-position: 50% 50%;
    background-size: 110%;
}
.servicesItem:nth-of-type(5)>div.block-6{
    background: url(../images/fea-img5.jpg);
    background-position: 50% 50%;
    background-size: 110%;
}
.servicesItem:nth-of-type(6)>div.block-6{
    background: url(../images/fea-img6.jpg);
    background-position: 50% 50%;
    background-size: 110%;
}
.servicesItem:nth-of-type(7)>div.block-6{
    background: url(../images/fea-img7.jpg);
    background-position: 50% 50%;
    background-size: 110%;
}
.servicesItem:nth-of-type(8)>div.block-6{
    background: url(../images/fea-img8.jpg);
    background-position: 50% 50%;
    background-size: 110%;
}


.servicesItem>div.block-6{
    margin-bottom: 1px !important;
    padding-bottom: 1px !important;
}

.services-bg{
    background-color:rgba(0,0,0,0.5);
    width:inherit;
    height: inherit;
    padding: 30px;
}


.services-bg:hover{
    background-color:rgba(0,0,0,0.8);
}

.logo{
    width:100px !important;
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5)) !important;
    filter: url(#drop-shadow);
}

.boxspace{
    padding: 50px;
}

.boximage{
    width: auto;
    height: 100px;
}

.sliderman-align{
    margin: 0 auto !important;    
    /* width: 20px !important; */
}

@media only screen and (max-width: 1000px) {
    .sliderman-align{
        /* margin: 0 auto !important;      */
        width: 100% !important;
    }
}


.mySlides {display:none; width:100%; height:inherit; object-fit: cover; }
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
.demo{padding-left: 0px !important;}


.inheritHeight{height:inherit !important;}