@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';

$font-primary: 'Work Sans',Arial, sans-serif;

$white: #fff;
$black: #000;
// $darken: #3a4348;

$primary: #01267F;
$secondary: #FEC726;




@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}

html {
	// overflow-x: hidden;
}
body {
	font-family: $font-primary;
	background: $white;
	font-size: 16px;
	line-height: 1.8;
	font-weight: 400;
	color: lighten($black,50%);
	&.menu-show {
		overflow: hidden;
		position: fixed;
		height: 100%;
		width: 100%;
	}
}
a {
	transition: .3s all ease;
	color: $primary;
	&:hover,&:focus{
		text-decoration: none;
		color: $primary;
		outline: none !important;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	color: $black;
	font-weight: 400;
}

.text-primary {
	color: $primary!important;
}

.ftco-navbar-light {
	background: transparent!important;
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	z-index: 3;
	@include media-breakpoint-down(md) {
		background: $black!important;
		position: relative;
		top: 0;
	}

	.navbar-brand {
		color: $white;
		&:hover{
			color: $white;
		}
	}
	
	.navbar-nav {
		@include media-breakpoint-down(md){
			padding-bottom: 10px;
		}
		> .nav-item {
			> .nav-link {
				font-size: 13px;
				padding-top: .9rem;
				padding-bottom: .9rem;
				padding-left: 20px;
				padding-right: 20px;
				letter-spacing: 1px;
				color: $white;
				font-weight: 500;
				text-transform: uppercase;
				&:hover {
					color: $white;
				}
				@include media-breakpoint-down(md){
					padding-left: 0;
					padding-right: 0;
					padding-top: .5em;
					padding-bottom: .5em;
					color: rgba(255,255,255,.7);
					&:hover{
						color: $white;
					}
				}
			}

			.dropdown-menu{
				border: none;
				background: $white;
				-webkit-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
				-moz-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
				box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
			}

			
			&.ftco-seperator {
				position: relative;
				margin-left: 20px;
				padding-left: 20px;
				@include media-breakpoint-down(md) {
					padding-left: 0;
					margin-left: 0;
				}
				&:before {
					position: absolute;
					content: "";
					top: 10px;
					bottom: 10px;
					left: 0;
					width: 2px;
					background: rgba($white, .05);
					@include media-breakpoint-down(md) {
						display: none;
					}
				}
			}
			&.cta {
				> a {
					color: $white;
					border: 1px solid $secondary;
					padding-top: .5rem;
					padding-bottom: .5rem;
					padding-left: 20px;
					padding-right: 20px;
					margin-top: 4px;
					background: $secondary;
					@include border-radius(5px);
					span {
						display: inline-block;
						color: $white;
					}
					&:hover{
						color: $white;
						background: $primary;
						border: 1px solid $primary;
					}
				}
				&.cta-colored {
					a{
						border: 1px solid $secondary;
						background: $secondary !important;
					}
				}
			}
			&.active {
				> a {
					color: rgba(255,255,255,.5);
					color: $secondary;
				}
			}
		}
	}
	.navbar-toggler {
		border: none;
		color: rgba(255,255,255,.5)!important;
		cursor: pointer;
		padding-right: 0;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: .1em;
		&:hover, &:focus {
			text-decoration: none;
			color: $primary;
			outline: none !important;
		}
	}
	
	&.scrolled  {
		position: fixed;
		right: 0;
		left: 0;
		top: 0;
		margin-top: -130px;
		background: $white!important;
		box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
		.nav-item {
			> .nav-link{
				@include media-breakpoint-down(md){
					padding-left: 0 !important;
					padding-right: 0 !important;
					padding-bottom: 0 !important;
				}
			}
			&.active {
				> a {
					color: $primary!important;
				}
			}
			&.cta {
				> a {
					color: $white !important;
					background: $primary;
					border: none !important;
					padding-top: .5rem!important;
					padding-bottom: .5rem !important;
					padding-left: 20px !important;
					padding-right: 20px !important;
					margin-top: 6px !important;
					@include border-radius(5px);
					span {
						display: inline-block;
						color: $white !important;
					}
				}
				&.cta-colored {
					span {
						border-color: $primary;
					}
				}
			}
		}

		.navbar-nav {
			@include media-breakpoint-down(md) {
				background: none;
				border-radius: 0px;
				padding-left: 0rem!important;
				padding-right: 0rem!important;
			}
		}

		.navbar-toggler {
			border: none;
			color: rgba(0,0,0,.5)!important;
			border-color: rgba(0,0,0,.5)!important;
			cursor: pointer;
			padding-right: 0;
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: .1em;

		}
		.nav-link {
			padding-top: .9rem!important;
			padding-bottom: .9rem!important;
			color: $black!important;
			&.active {
				color: $primary!important;
			}
		}
		&.awake {
			margin-top: 0px;
			transition: .3s all ease-out;
		}
		&.sleep {
			transition: .3s all ease-out;	
		}

		.navbar-brand {
			color: $black;
		}
	}
}

.navbar-brand {
	font-size: 20px;
	font-weight: 900;
}



.hero-wrap{
	width: 100%;
	position: relative;
	overflow: hidden;
	// border-radius: 0 0 20% 20%;
	.overlay{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		opacity: .8;
		background: $primary;
	}
	.slider-text {
		height: 750px;
		z-index: 0;
		overflow: hidden;
		@include media-breakpoint-down(md){
			text-align: center;
			height: 750px;
		}
		.subheading{
			color: $white;
			font-weight: 600;
			font-size: 14px;
			letter-spacing: 4px;
			text-transform: uppercase;
			display: inline-block;
		}
		.text{
			position: relative;
			z-index: 1;
			width: 100%;
			display: block;
		}
		h1 {
			font-size: 54px;
			color: $white;
			line-height: 1.2;
			font-weight: 300;
			span{
				display: block;
				font-weight: 700;
				// color: darken($primary,10%);
			}
			@include media-breakpoint-down(md) {
				font-size: 50px;
			}
			@include media-breakpoint-down(sm) {
				font-size: 40px;
			}
		}
		p {
			color: rgba(255,255,255,.8);
			font-weight: 400;
		}
		.btn-custom{
			color: $white;
			background: $primary;
			padding: 10px 20px;
		}
	}
	&.hero-wrap-2{
		height: 600px !important;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		@include media-breakpoint-down(lg){
			background-position: top center !important;
		}
		.slider-text{
			height: 600px !important;
			@include media-breakpoint-down(md){
				text-align: center;
				height: 600px !important;
			}
		}
	}
}

.slider-text{
	.breadcrumbs{
		font-size: 12px;
		letter-spacing: 1px;
		margin-bottom: 20px;
		z-index: 99;
		text-transform: uppercase;
		font-weight: 600 !important;
		letter-spacing: 2px;
		span{
			color: rgba(255,255,255,.7);
			a{
				color: $secondary;
			}
		}
	}
	.bread{
		font-size: 50px !important;
		font-weight: 500;
		color: $white !important;
	}
}


.bg-light {
	background: #f6fafd!important;
	z-index: 0;
}

.bg-primary{
	background: $primary;
}


//BUTTON
.btn {
	cursor: pointer;
	@include border-radius(5px);
	-webkit-box-shadow: 0px 15px 30px -12px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 15px 30px -12px rgba(0,0,0,0.2);
	-ms-box-shadow: 0px 15px 30px -12px rgba(0,0,0,0.2);
	-o-box-shadow: 0px 15px 30px -12px rgba(0,0,0,0.2);
	box-shadow: 0px 15px 30px -12px rgba(0,0,0,0.2);
	&:hover, &:active, &:focus {
		outline: none;
	}
	&.btn-primary {
		background: $primary;
		border: 1px solid $primary;
		color: $white;
		&:hover {
			border: 1px solid $primary;
			background: transparent;
			color :$primary;
		}
		&.btn-outline-primary {
			border: 2px solid $primary;
			background: transparent;
			color :$primary;
			&:hover {
				border: 2px solid transparent;
				background: $primary;
				color :$white;
			}
		}
	}
	&.btn-secondary {
		background: $secondary;
		border: 1px solid $secondary;
		color: $white;
		&:hover {
			border: 1px solid darken($secondary,5%);
			background: darken($secondary,5%);
			color: $white;
		}
		&.btn-outline-secondary {
			border: 2px solid $secondary;
			background: transparent;
			color :$secondary;
			&:hover {
				border: 2px solid transparent;
				background: $secondary;
				color :$white;
			}
		}
	}
	&.btn-outline-white {
		border-color: rgba($white, .8);
		background: none;
		@include border-radius(30px);
		border-width: 2px;
		color: $white;
		&:hover, &:focus, &:active {
			background: $white;
			border-color: $white;
			color: $primary;
		}
	}
}

.heading-white{
	color: $white;
	h2{
		font-size: 24px;
		color: $black;
		margin-bottom: 0;
		font-weight: 700;
	}
	p{
		color: rgba(0,0,0,.7);
		margin-bottom: 0;
	}
}
//DOMAIN
.ftco-domain{
	// padding: 5em 0;
	// background: #323232;
	background: $primary;
}
// .ftco-wrap{
// 	background: $primary;
// 	border-radius: 50px 0 50px 0;
// }
.domain-form{
	width: 100%;
	display: block;
	.domain-name{
		width: calc(100% - 300px);
		@include media-breakpoint-down(sm){
			width: 100%;
		}
	}
	.domain-select{
		width: 300px;
		@include media-breakpoint-down(sm){
			width: 100%;
		}
	}
	.form-group{
		position: relative;
		margin-bottom: 0;
		input, select{
			appearance: none;
			font-size: 14px;
			padding-right: 20px !important;
			color: $black;
			border: none !important;
			border-right: none;
			&.name{
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}
			option{
				color: $black;
			}
			&::-webkit-input-placeholder {
			  color: $black !important;
			}
			&::-moz-placeholder {
			  color: $black !important;
			}
			&:-ms-input-placeholder {
			  color: $black !important;
			}
			&:-moz-placeholder {
			  color: $black !important;
			}
			&:focus, &:active{
				// border: none;
			}
		}
		select{
			appearance: none;
			border-left: 1px solid lighten($black,90%) !important;
			border-right: none !important;

		}
		.form-control{
			height: 60px !important;
		}
		.btn-primary{
			@include border-radius(0);
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			color: $white;
			text-align: center;
			background: $secondary !important;
			border: none !important;
		}
	}
	.select-wrap{
		position: relative;
		width: 80px;
	}
	.search-domain{
		width: calc(100% - 80px);
		@include media-breakpoint-down(md){
			width: calc(100% - 80px);
		}
	}
	.icon {
		position: absolute;
		top: 50% !important;
		right: 15px;
		font-size: 14px;
		transform: translateY(-50%);
		color: $black;
		@include media-breakpoint-down(sm) {
			right: 15px;
		}
	}
}
.domain-price{
	margin-bottom: 0;
	span{
		color: $secondary;
		margin:0 0 5px 0;
		font-weight: 500;
		border: 1px solid rgba(255,255,255,.1);
		padding: 5px 10px;
		@include border-radius(20px);
		small{
			color: $white;
		}
	}
}

.ftco-wrap-2{
	background: $white;
	.domain-price{
		span{
			small{
				color:$black;
			}
		}
	}
}


//DOMAIN PRICING
.table-resposive{
}
.table{
	text-align: center;;
	th{
		font-weight: 500;
	}
	.thead-primary{
		tr{
			th{
				padding: 20px 10px;
				color: $white !important;
				border: 1px solid transparent !important;
				background: $primary;
			}
		}
	}
	tbody{
		tr{
			td{
				vertical-align: middle;
				font-weight: 500;
				padding: 20px 10px !important;
				color: $black;
				border: 1px solid transparent !important;
				border-bottom: 1px solid rgba(0,0,0,.05) !important;
				@include media-breakpoint-up(md){
					&:nth-child(odd){
						// background: lighten($black,94%)
						background: #f6fafd;
					}
				}
				// &.color{
				// 	color: $white;
				// 	background: $primary;
				// 	border-bottom: 1px solid rgba(255,255,255,.1) !important;
				// }
			}
		}
	}
}

//ACCORDION
#accordion{
	.card{
		margin-bottom: 5px;
		border: 1px solid lighten($black,94%);
		@include border-radius(0);
		.card-header{
			padding: 0;
			background: transparent;
			border-bottom: 1px solid lighten($black,94%);
			@include border-radius(0);
			a{
				padding: 12px 20px;
				display: block;
				font-size: 20px;
				font-weight: 500;
				color: $black;
				span{
					float: right;
					i{
						color: $secondary;
					}
				}
			}
		}
	}
	.card-body{
		border: 1px solid transparent;
		p{
			color: lighten($black,30%) !important;
		}
	}
	[aria-expanded="false"] > .expanded, [aria-expanded="true"] > .collapsed {display: none;}
}


//SERVICES
.main{
	width: 100%;
}
.services{
	width: 100%;
	display: block;
	padding: 30px;
	background: $white;
	-webkit-box-shadow: 0px 0px 16px -9px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 16px -9px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 16px -9px rgba(0,0,0,0.1);
	@include transition(.3s);
	@include border-radius(4px);
	&.border{
		border: 1px solid rgba(0,0,0,.1) !important;
	}
	.icon{
		line-height: 1.3;
		position: relative;
		// width: 80px;
		// height: 80px;
		margin: 0 auto;
		// background: $primary;
		@include transition(.3s);
		@include border-radius(50%);
		span{
			font-size:44px;
			color: $primary;
		}
	}
	.media-body{
		@include transition(.3s);
		width: calc(100% - 80px);
		h3{
			font-size: 20px;
			font-weight: 500;
		}
		&.media-body-2{
			width: 100% !important;
		}
	}
	&:hover{
		background: $primary;
		.icon{
			span{
				color: $white;
			}
		}
		.media-body{
			h3{
				color: $white;
			}
			p{
				color: rgba(255,255,255,.8);
			}
		}
	}
}



//STEPS
.steps{
	h3{
		font-size: 22px;
		font-weight: 500;
	}
	.icon{
		width: 100px;
		height: 100px;
		margin: 0 auto;
		background: lighten($primary,40%);
		border: 1px solid lighten($primary,40%);
		@include border-radius(50%);
		span{
			font-size: 40px;
			color: $primary;
			font-weight: 300;
		}
		&.active{
			background: $secondary;
			span{
				color: $white;
			}
		}
	}
}


//PARTNER
.ftco-partner{
	padding: 4em 0 !important;
	.partner{
		display: block;
		padding: 0 20px;
		@include media-breakpoint-down(md){
			padding: 0 70px;
			margin-bottom: 40px;
		}
	}
}


//PARALLAX
.ftco-section-parallax {
	position: relative;
	.parallax-img {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		position: relative;
		padding: 10em 0;
	}
	.heading-section-white{
		h2{
			font-weight: 400 !important;
		}
	}
}


//### .block-3
.block-3 {
	@include media-breakpoint-up(md){
		margin-bottom: 7em;
	}
	.text, .image {
		width: 100%;
		padding: 10% 7%;
		display: block;
		@include media-breakpoint-up(md) {
			width: 50%;
			padding: 10% 7%;	
		}
	}
	.text {
		.subheading {
			font-size: 13px;
			text-transform: uppercase;
			letter-spacing: .1em;
		}
		.heading {
			font-size: 30px;
			margin-bottom: 30px;
			a{
				color: $black;
			}
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.image {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;
		&:after{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			box-shadow: 20px 20px 0 0 lighten($primary,25%);
		}
		&.image-2{
			&:after{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				box-shadow: -20px 20px 0 0 lighten($primary,25%);
			}
		}
		@include media-breakpoint-down(sm) {
			height: 300px;
		}
	}
}

// USEFUL CODE
.aside-stretch{
	background: lighten($primary,10%);
	&:after{
		position: absolute;
		top: 0;
		right: 100%;
		bottom: 0;
		content: '';
		width: 360%;
		background: lighten($primary,10%);
		// background: #333644;
	}
	@include media-breakpoint-down(sm){
		background: transparent;
		&:after{
			background: transparent;
			display: none;
		}
	}
}


.form-control {
	height: 52px!important;
	background: $white!important;
	color: $black!important;
	font-size: 18px;
	border-radius: 0px;
	box-shadow: none!important;
	border: 1px solid lighten($black,92%);
	&:focus, &:active {
		border-color: $black;
	}
}
textarea.form-control {
	height: inherit!important;
}
.ftco-vh-100 {
  height: 100vh;
  @include media-breakpoint-down(lg) {
  	height: inherit;
  	padding-top: 5em;
  	padding-bottom: 5em;
  }
}
.ftco-vh-75 {
  height: 75vh;
  min-height: 700px;
  @include media-breakpoint-down(lg) {
  	min-height: 700px;
  	height: inherit;
  	padding-top: 5em;
  	padding-bottom: 5em;
  }
}


.ftco-tab-nav {
	padding: 0;
	margin: 0;
	display: inline-block!important;
	@include media-breakpoint-down(sm) {
		display: block!important;
		margin-bottom: 10px;
		width: 100%!important;
	}
	li {
		padding: 0;
		margin: 0 5px;
		display: inline-block!important;
		@include media-breakpoint-down(sm) {
			display: block!important;
			margin-bottom: 10px;
			width: 100%!important;
		}
		a {
			text-transform: uppercase;
			font-size: 14px;
			letter-spacing: .2em;
			color: #ccc;
			border: 2px solid #ccc;
			border-radius: 0!important;
			&.active {
				background: none!important;
				color: darken(#ccc, 100%)!important;
				border: 2px solid $black;
			}
		}
		
	}
}

.ftco-animate {
	opacity: 0;
	visibility: hidden;
}

.bg-primary {
	background: $primary!important;
}



//ABOUT
.media-custom{
	background: $white;
	.media-body{
		.name{
			font-weight: 500;
			font-size: 16px;
			margin-bottom: 0;
			color: $primary;
		}
		.position{
			font-size: 13px;
			color: lighten($black, 85%);
		}
	}
}


.about-author{
	img{
	}
	.desc{
		h3{
			font-size: 20px;
			font-weight: 700;
		}
	}
	.bio{
		@include border-radius(50%);
	}
}


.ftco-section {
	padding: 6em 0;
	position: relative;
	@include media-breakpoint-down(sm){
		padding: 6em 0;
	}
}

.ftco-no-pt{
	padding-top: 0;
}
.ftco-no-pb{
	padding-bottom: 0;
}

.ftco-bg-dark {
	background: #3c312e;
}


.ftco-footer {
	font-size: 16px;
	padding: 5em 0;
	padding-bottom: 3em;
	background: $primary;
	.ftco-footer-logo {
		text-transform: uppercase;
		letter-spacing: .1em;
	}
	.ftco-footer-widget {
		h2 {
			font-weight: normal;
			color: $white;
			margin-bottom: 40px;
			font-size: 20px;
			font-weight: 500;
		}
		ul{
			li{
				a{
					span{
						color: $white;
					}
				}
			}
		}
		.btn-primary{
			// background: $white !important;
			border: 1px solid transparent;
			
			&:hover{
				background: $white;
				border: 1px solid $white !important;
			}
		}
	}
	p {
		color: rgba($white, .7);
	}
	a {
		color: rgba($white, .7);
		&:hover {
			color: $white;
		}
	}
	.ftco-heading-2 {
		font-size: 17px;
		font-weight: 400;
		color: $black;
	}
}


.ftco-footer-social {
	li {
		list-style: none;
		margin: 0 10px 0 0;
		display: inline-block;
		a {
			height: 50px;
			width: 50px;
			display: block;
			float: left;
			// background: rgba($white, 1);
			border-radius: 50%;
			position: relative;
			
			span {
				position: absolute;
				font-size: 26px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				// -webkit-background-clip: text;
				// -webkit-text-fill-color: transparent;
			}
			&:hover {
				color: $white;
			}
		}
	}
}
.footer-small-nav {
	> li {
		display: inline-block;
		a {
			margin: 0 10px 10px 0;
			&:hover, &:focus {
				color: $primary;
			}
		}
	}
}
.media {
	.ftco-icon {
		width: 100px;
		span {
			color: $primary;
		}
	}
}
.ftco-media {
	background: $white;
	border-radius: 0px;
	.heading {
		font-weight: normal;
	}
	&.ftco-media-shadow {
		padding: 40px;
		background: $white;
		box-shadow: 0 10px 50px -15px rgba(0,0,0,.3);
		transition: .2s all ease;
		position: relative;
		top: 0;
		&:hover, &:focus {
			top: -3px;
			box-shadow: 0 10px 70px -15px rgba(0,0,0,.3);
		}
	}
	.icon {
		font-size: 50px;
		display: block;
		color: $primary;
	}
	&.text-center {
		.ftco-icon {
			margin: 0 auto;
		}
	}
}
.ftco-overflow-hidden {
	overflow: hidden;
}

.padding-top-bottom {
	padding-top: 120px;
	padding-bottom: 120px;
}

// Map

#map {
	height: 400px;
	width: 100%;
	@include media-breakpoint-down(md) {
		height: 300px;
	}
}


@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($primary, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 30px rgba($primary, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba($primary, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($primary, 0.4);
    box-shadow: 0 0 0 0 rgba($primary, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 30px rgba($primary, 0);
      box-shadow: 0 0 0 30px rgba($primary, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba($primary, 0);
      box-shadow: 0 0 0 0 rgba($primary, 0);
  }
}

.heading-section{
	.subheading{
		font-size: 14px;
		font-size: 500;
		display: block;
		margin-bottom: 0;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	h2{
		font-size: 34px;
		font-weight: 400;
		color: $black;
		letter-spacing: 1px;
		@include media-breakpoint-down(sm){
			font-size: 30px;
		}
	}
	&.heading-section-white{
		.subheading{
			color: rgba(255,255,255,.9);
		}
		h2{
			font-size: 40px;
			color: $white;
			@include media-breakpoint-down(sm){
				font-size: 30px;
			}
		}
		p{
			color: rgba(255,255,255,.9);
		}
	}
}

//COVER BG
.img,
.blog-img,
.user-img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}




//TESTIMONY
.testimony-section{
	position: relative;
	
	.owl-carousel{
		margin: 0;
	}
	.owl-carousel .owl-stage-outer{
		padding-top: 3.5em;
		padding-bottom: 2em;
		position: relative;
	}
	.owl-nav {
		position: absolute;
		top: 100%;
		width: 100%;
		.owl-prev,
		.owl-next {
			position: absolute;
			transform: translateY(-50%);
			margin-top: -10px;
			outline: none !important;
			@include transition(.3s);
			span {
				&:before {
					font-size: 30px;
					color: rgba(255,255,255,.5);
					@include transition(.3s);
				}
			}
			&:hover,&:focus{
				span{
					&:before{
						color: $white;
					}
				}
			}
			opacity: 0;
		}
		.owl-prev {
			left: 50%;
			margin-left: -80px;
		}
		.owl-next {
			right: 50%;
			margin-right: -80px;
		}
	}
	&:hover{
		.owl-nav{
			.owl-prev,
			.owl-next{
				opacity: 1;
			}
			.owl-prev {
				left: 50%;
				margin-left: -80px;
			}
			.owl-next {
				right: 50%;
				margin-right: -80px;
			}
		}
	}
	.owl-dots {
		text-align: center;
		.owl-dot {
			width: 10px;
			height: 10px;
			margin: 5px;
			border-radius: 50%;
			background: rgba(255,255,255,.4);
			&.active {
				background: $white;
			}
		}
	}
}
.testimony-wrap{
	-webkit-box-shadow: 0px 0px 16px -9px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 16px -9px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 16px -9px rgba(0,0,0,0.1);
	display: block;
	position: relative;
	// color: rgba(255,255,255,.8);
	.user-img{
		width: 100px;
		height: 100px;
		border-radius: (50%);
		position: relative;
		margin: 0 auto;
		.quote{
			position: absolute;
			bottom: -10px;
			right: 0;
			width: 40px;
			height: 40px;
			background: $secondary;
			@include border-radius(50%);
			i{
				color: $white;
			}
		}
	}
	.name{
		font-weight: 500;
		font-size: 18px;
		margin-bottom: 0;
		color: $black;
	}
	.position{
		font-size: 13px;
	}
}

.about-image{
	@include media-breakpoint-down(sm){
		height: 400px;
		margin-bottom: 30px;
	}
}

// magnific pop up

.image-popup {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}



#section-counter{
	position: relative;
	z-index: 0;
	&:after{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		content: '';
		z-index: -1;
		opacity: .9;
	}
}
.ftco-counter {
	padding: 5em 0;
	// background: $primary;
	@include media-breakpoint-down(md){
		background-position: center center !important;
	}
	.icon{
		span{
		}
	}
	.text{
		strong.number{
			font-weight: 300;
			font-size: 40px;
			color: $primary;
		}
		span{
			font-size: 18px;
			color: rgba(0,0,0,.7);
			text-transform: uppercase;
		}
	}
	.counter-wrap{
		@include media-breakpoint-down(sm){
			margin-bottom: 20px;
		}
	}
	.ftco-number {
		display: block;
		font-size: 72px;
		font-weight: bold;
		color: $primary;
	}
	.ftco-label {
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: .1em;
	}
}

//blocks 
.block-20 {
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	display: block;
	width: 100%;
	height: 270px;
	&.img{
		height: 500px;
	}
}
.blog-entry{
	overflow: hidden;
	width: 100%;
	@include media-breakpoint-up(md){
		margin-bottom: 60px;
	}
	@include media-breakpoint-down(sm){
		margin-bottom: 30px;
	}
	.text {
		position: relative;
		width: 100%;
		margin: 0 auto;
		.heading {
			font-size: 18px;
			margin-bottom: 16px;
			font-weight: 400;
			a {
				color: $black;
				&:hover, &:focus, &:active {
					color: $primary;
				}
			}
		}
	}
	.meta {
		> div {
			display: inline-block;
			margin-right: 5px;
			margin-bottom: 0;
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 500;
			a {
				color: lighten($black, 70%);
				&:hover {
					color: lighten($black, 40%);
				}
			}
		}
	}
	.btn-custom{
		text-transform: uppercase;
		color: $primary;
		font-size: 13px;
		font-weight: 500;
		letter-spacing: 2px;
	}
}



.block-23 {
	ul {
		padding: 0;
		li {
			
			&, > a {
				display: table;
				line-height: 1.5;
				margin-bottom: 15px;
			}
			span{
				color: rgba($white, .7);
			}
			.icon, .text {
				display: table-cell;
				vertical-align: top;
			}
			.icon {
				width: 40px;
				font-size: 18px;
				padding-top: 2px;
				color: rgba($white, 1);
			}
			
		}
	}
}

.block-6 {
	margin-bottom: 40px;
	.icon {
		span {
			&:before {
			}
		}
	}
	.media-body {
		.heading {

		}
		p {
			font-size: 16px;
		}
	}
} 

//### .block-10 
.block-10 {
	.chef-img{
		height: 400px;
	}
	.person-info {
		height: 75px;
		span {
			display: block;
		}
		.name {
			font-size: 20px;
			color: $black;
			font-weight: 400;
		}
		.position {
			font-size: 14px;
		}
	}
}

.block-17 {
	form {
		.fields {
			// width: calc(100% - 140px);
			width: 100%;
			position: relative;
			@include media-breakpoint-down(md) {
				width: 100%;
			}
			.one-third {
				width: 100% !important;
				margin-bottom: 10px;
				@include media-breakpoint-down(md) {
					width: 100%;
					border-right: none;
					padding-left: 0;
					padding-right: 0;
					margin-bottom: 10px;
				}
				&:first-child {
					// padding-left: 0;
				}
				&:last-child {
					border-right: none;
				}
				label{
					font-weight: 700;
					color: $black;
				}
			}
			.form-control {
				box-shadow: none!important;
				border: transparent;
				background: transparent !important;
				color: lighten($black,30%) !important;
				border: 2px solid rgba(0,0,0,.1);
				font-size: 14px;
				width: 100%;
				@include border-radius(4px);
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: lighten($black,30%);
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: lighten($black,30%);
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: lighten($black,30%);
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: lighten($black,30%);
				}
			}
			.icon {
				position: absolute;
				top: 50%;
				right: 30px;
				font-size: 14px;
				transform: translateY(-50%);
				color: rgba($black,.7);
				@include media-breakpoint-down(sm) {
					right: 10px;
				}
			}
			.textfield-search, .select-wrap {
			}
			.textfield-search {
				input {

				}
			}
			.select-wrap {
				position: relative;
				select {
					appearance: none;
				}
			}
		}
		.search-submit {
			width: 100%;
			background: $primary;
			border: 2px solid $primary;
			color: $white;
			padding: 12px 10px;
			@include border-radius(4px);
			&:hover{
				background: $black;
				color: $white;
				border: 2px solid $black;
			}
		}
	}
}

//### .block-18 
.block-18 {
	.icon, .text {
	}
	.icon {
		> span {
			font-size: 40px;
		}
	}
	.text {
		strong {
			font-size: 30px;
		}
		span {
			display: block;
		}
	}
}


.block-27 {
	ul {
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			margin-bottom: 4px;
			font-weight: 400;
			a,span {
				color: $primary;
				text-align: center;
				display: inline-block;
				width: 40px;
				height: 40px;
				line-height: 40px;
				border-radius: 50%;
				border: 1px solid lighten($primary,35%);
			}
			&.active {
				a, span {
					background: $primary;
					
					color: $white;
					border: 1px solid transparent;
				}
			}
		}
	}
}


.block-7 {
	padding: 30px;
	background: $white;
	width: 100%;
	@include media-breakpoint-down(md){
		margin-bottom: 30px;
	}
	.heading {
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: $primary;
	}
	.heading-2 {
		font-size: 16px;
		font-weight: normal;
	}
	.price {
		margin: 0;
		padding: 0;
		display: block;
		sup {
			font-size: 30px;
			top: -.4em; 
			color: $black;
		}
		.number {
			font-size: 50px;
			font-weight: 400;
			color: $black;
			small{
				font-size: 12px;
			}
		}
	}
	.excerpt {
		margin-bottom: 20px;
		color: darken(#ccc, 10%);
	}
	.label2 {
		text-transform: uppercase;
	}
	.pricing-text {
		margin-bottom: 0;
		&, li {
			padding: 0;
			margin: 0;
		}
		li {
			list-style: none;
			margin-bottom: 10px;
			color: darken(#ccc, 10%);
			strong {
				color: $black;
				font-weight: 600;
			}
		}
	}
	.btn-primary{
		border: none;
		
		&:hover{
			border: none;
			color: $white;
			background: $primary !important;
		}
	}
	&.active{
		background: $secondary;
		ul{
			li{
				color: rgba(0,0,0,.8);
				strong{
					// color: $white;
				}
			}
		}
		.excerpt, .heading-2{
			color: $black;
		}
	}
	.text-center{
		width: 100%;
	}
}

.block-8 {
	.accordion-item {
		.heading {
			font-size: 16px;
			font-weight: 400;
			padding: 10px 0;
			> a {
				padding-left: 35px;
				position: relative;
				color: $black;
				&:before {

					width: 20px;
					height: 20px;
					line-height: 18px;
					border: 1px solid #ccc;
					text-align: center;
					font-size: 18px;
					top: .1em;
					left: 0;
				}
				&[aria-expanded="true"] {
					&:before {
						font-family: 'icomoon';
						position: absolute;
						content: "\e316";
						transition: .3s all ease;
						background: $primary;
						color: $white;
						border: 1px solid $primary;
					}
				}
				&[aria-expanded="false"] {
					&:before {
						content: "\e313";
						color: #ccc;	
						font-family: 'icomoon';
						position: absolute;
				
						transition: .3s all ease;
					}
				}
				
			}
		}
		.body-text {
			font-size: 16px;
			padding: 5px 0;
			padding-left: 30px;
		}
	}
}

//### .block-4
.block-4 {
	.nonloop {
		.owl-stage {
			padding-bottom: 2em;
		}
		.owl-item {
			box-shadow: 0 7px 20px -5px rgba(0,0,0,.2);	
		}
		.owl-nav {
			z-index: 2;
			position: absolute;
			width: 100%;
			bottom: -2px;
			.owl-prev, .owl-next {
				opacity: .2;
				transition: .3s all ease;
				&:hover {
					opacity: 1;
				}
				&.disabled {
					display: none;
				}
				position: absolute;
				span {
					font-size: 30px;
				}
			}
			.owl-prev {
				left: 50px;

			}
			.owl-next {
				right: 50px;
			}
		}
		.owl-dots {
			bottom: -40px;
			position: absolute;
			width: 100%;
			text-align: center;
			.owl-dot {
				display: inline-block;
				width: 8px;
				height: 8px;
				background: #ccc;
				border-radius: 50%;
				margin-right: 10px;
				margin-bottom: 10px;
				transition: .3s all ease;
				&.active {
					
					background: $primary;
				}
			}
		}
	}
}

.contact-section {
	.contact-info{
		p{
			color: rgba(255,255,255,.8);
			a{
				color: $white;
			}
			span{
				display: block;
				font-size: 18px;
				font-weight: 500;
				color: $white;
			}
		}
		.icon{
			span{
				font-size: 30px;
				color: $white;
			}
		}
		.border-height{
			@include media-breakpoint-up(lg){
				border-left: 1px solid rgba(255,255,255,.1);
				border-right: 1px solid rgba(255,255,255,.1);
			}
		}
	}
	.contact-form{
		width: 100%;
		@include border-radius(5px);
	}
}
.block-9 {
	h2{
		font-size: 24px;
		font-weight: 500;
		margin-bottom: 40px;
		color: $white;
	}
	.form-control {
		outline: none!important;
		box-shadow: none!important;
		font-size: 15px;
	}
	#map {
	}
}


//### .block-21
.block-21 {
	.blog-img{
		display: block;
		height: 80px;
		width: 80px;
	}
	.text {
		width: calc(100% - 100px);
		.heading {
			font-size: 18px;
			font-weight: 300;
			a {
				color: $black;
				&:hover, &:active, &:focus {
					color: $primary;
				}
			}
		}
		.meta {
			> div {
				display: inline-block;
				font-size: 12px;
				margin-right: 5px;
				a {
					color: lighten($black, 50%);
				}
			}
		}
	}
}

.custom-pagination {
	width: 100%;
	text-align: center;
	display: inline-block;
	li {
		display: inline-block;
	}
	.prev, .next {
		a {
			font-size: 20px!important;
			line-height: 38px!important;
		}
	}
	li, .prev, .next {
		a {
			width: 40px;
			height: 40px;
			line-height: 40px;
			padding: 0;
			margin: 0;
			border-radius: 50%!important;
			font-size: 16px;
		}
		&.active {
			a {
				display: block;
				width: 40px;
				height: 40px;
				line-height: 40px;
				padding: 0;
				margin: 0;
				border-radius: 50%!important;
				font-size: 16px;
				background: $primary;
				color: $white;
				&:hover, &:focus {
					color: $white;
				}
			}	
		}
	}
	.prev {
		float: left;
	}
	.next {
		float: right;
	}
}

/* Blog*/
.post-info {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	color: $white;
	letter-spacing: .1em;
	> div {
		display: inline-block;

		.seperator {
			display: inline-block;
			margin: 0 10px;
			opacity: .5;
		}
	}
}

.tagcloud {
	a {
		text-transform: uppercase;
		display: inline-block;
		padding: 4px 10px;
		margin-bottom: 7px;
		margin-right: 4px;
		border-radius: 4px;
		color: $black;
		border: 1px solid #ccc;
		font-size :11px;
		&:hover {
			border: 1px solid #000;
		}
	}
}

.comment-form-wrap {
	clear: both;
}

.comment-list {
	padding: 0;
	margin: 0;
	.children {
		padding: 50px 0 0 40px;
		margin: 0;
		float: left;
		width: 100%;
	}
	li {
		padding: 0;
		margin: 0 0 30px 0;
		float: left;
		width: 100%;
		clear: both;
		list-style: none;
		.vcard {
			width: 80px;
			float: left;
			img {
				width: 50px;
				border-radius: 50%;
			}
		}
		.comment-body {
			float: right;
			width: calc(100% - 80px);
			h3 {
				font-size: 18px;
				font-weight: 600;
			}
			.meta {
				text-transform: uppercase;
				font-size: 13px;
				letter-spacing: .1em;
				color: $primary;
				margin-bottom: 15px;
			}
			.reply {
				padding: 5px 10px;
				background: lighten($black, 96%);
				color: $black;
				text-transform: uppercase;
				font-size: 11px;
				letter-spacing: .1em;
				font-weight: 400;
				border-radius: 4px;
				&:hover {
					color: $white;
					background: lighten($black, 0%);
				}
			}
		}
	}
}

.search-form {
	background: lighten($black, 98%);
	padding: 10px;

	.form-group {
		position: relative;
		input {
			padding-right: 50px;
		}
	}
	.icon {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
	}
}

.subscribe-form{
	.form-group {
		position: relative;
		margin-bottom: 0;
		input {
			padding-right: 50px;
			background: transparent !important;
			border: 1px solid rgba(255,255,255,.7);
			color: rgba(255,255,255,.8) !important;
			@include border-radius(30px);
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: rgba(255,255,255,.8) !important;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: rgba(255,255,255,.8) !important;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: rgba(255,255,255,.8) !important;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: rgba(255,255,255,.8) !important;
			}
		}
	}
	.icon {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
		color: rgba(255,255,255,.8);
	}
}

// sidebar
.sidebar-box {
	margin-bottom: 30px;
	padding: 25px;
	font-size: 15px;
	width: 100%;
	
	background: $white;
	*:last-child {
		margin-bottom: 0;
	}
	h3 {
		font-size: 18px;
		margin-bottom: 20px;
		font-weight: 700;
	}
}

.categories, .sidelink {
	li {
		position: relative;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px dotted gray('300');
		list-style: none;
		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
			padding-bottom: 0;
		}
		a {
			display: block;
			span {
				position: absolute;
				right: 0;
				top: 0;
				color: #ccc;
			}
		}
		&.active {
			a {
				color: $black;
				font-style: italic;
			}
		}
	}
}



#ftco-loader {
	position: fixed;
	width:  96px;
	height: 96px;
	left:  50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0px 24px 64px rgba(0,0,0,0.24);
	border-radius:16px;
	opacity: 0; 
	visibility: hidden;
	transition: opacity .2s ease-out, visibility 0s linear .2s;
	z-index:1000;
}

#ftco-loader.fullscreen {
	padding:  0;
	left:  0;
	top:  0;
	width:  100%;
	height: 100%;
	transform: none;
	background-color: #fff;
	border-radius: 0;
	box-shadow: none;
}

#ftco-loader.show {
	transition: opacity .4s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
}

#ftco-loader .circular {
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left:  calc(50% - 24px);
  top:  calc(50% - 24px);
  display: block;
  transform: rotate(0deg);
}

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}